calculator-wsdl-pojo/src/main/resources/calculatorSecurityHeader.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  name="CalculatorService" targetNamespace="http://calculator.example.com"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://calculator.example.com" xmlns:sec="http://security.example.com"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
        <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified"
                    targetNamespace="http://calculator.example.com" xmlns:tns="http://calculator.example.com"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:element name="multiply" type="tns:multiply"/>
            <xsd:complexType name="multiply">
                <xsd:sequence>
                    <xsd:element name="arg0" type="xsd:int"/>
                    <xsd:element name="arg1" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="multiplyResponse" type="tns:multiplyResponse"/>
            <xsd:complexType name="multiplyResponse">
                <xsd:sequence>
                    <xsd:element name="return" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="sum" type="tns:sum"/>
            <xsd:complexType name="sum">
                <xsd:sequence>
                    <xsd:element name="arg0" type="xsd:int"/>
                    <xsd:element name="arg1" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="sumResponse" type="tns:sumResponse"/>
            <xsd:complexType name="sumResponse">
                <xsd:sequence>
                    <xsd:element name="return" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://security.example.com"
                    xmlns:sec="http://security.example.com" elementFormDefault="qualified">
            <xsd:element name="securityHeader" >
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="applicationCode" type="xsd:string" />
                        <xsd:element name="clientId" type="xsd:string" />
                        <xsd:element name="clientPassword" type="xsd:string" />
                        <xsd:element name="ipAddress" type="xsd:string" minOccurs="0" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <!-- Faults -->
            <xsd:complexType name="SecurityFault">
                <xsd:sequence>
                    <xsd:element name="code" type="xsd:string" minOccurs="0" />
                    <xsd:element name="message" type="xsd:string" minOccurs="0" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="securityFault" type="sec:SecurityFault" />
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="multiplyResponse">
        <wsdl:part element="tns:multiplyResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="sumResponse">
        <wsdl:part element="tns:sumResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="sum">
        <wsdl:part element="tns:sum" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="multiply">
        <wsdl:part element="tns:multiply" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="securityException">
        <wsdl:part name="securityException" element="sec:SecurityFault" />
    </wsdl:message>
    <wsdl:message name="securityHeader">
        <wsdl:part name="securityHeader" element="sec:securityHeader" />
    </wsdl:message>
    <wsdl:portType name="CalculatorWs">
        <wsdl:operation name="multiply">
            <wsdl:input message="tns:multiply" name="multiply">
            </wsdl:input>
            <wsdl:output message="tns:multiplyResponse" name="multiplyResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="sum">
            <wsdl:input message="tns:sum" name="sum">
            </wsdl:input>
            <wsdl:output message="tns:sumResponse" name="sumResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CalculatorServiceSoapBinding" type="tns:CalculatorWs">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="multiply">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="multiply">
                <soap:body use="literal"/>
                <soap:header use="literal" part="securityHeader" message="tns:securityHeader" />
            </wsdl:input>
            <wsdl:output name="multiplyResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <!--<wsdl:fault name="RateLoadingServiceException">-->
                <!--<soap:fault name="RateLoadingServiceException" use="literal" />-->
            <!--</wsdl:fault>-->
        </wsdl:operation>
        <wsdl:operation name="sum">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="sum">
                <soap:body use="literal"/>
                <soap:header use="literal" part="securityHeader" message="tns:securityHeader" />
            </wsdl:input>
            <wsdl:output name="sumResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <!--<wsdl:fault name="RateLoadingServiceException">-->
                <!--<soap:fault name="RateLoadingServiceException" use="literal" />-->
            <!--</wsdl:fault>-->
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CalculatorService">
        <wsdl:port binding="tns:CalculatorServiceSoapBinding" name="CalculatorPort">
            <soap:address location="http://127.0.0.1:4204/Calculator?wsdl"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>